// brand colors
$hut8-teal: #00ffce;
$hut8-dark: #262d3a;
$aqwire-purple: #633afc;

// black & white
$white: #ffffff;
$black: #1b1b1b;

//states
$success: #0bd564;
$warning: #ffcc00;
$error: #f20168;

// shades of gray
$dark: #202021;
$dim-grey: #333333;
$dark-grey: #5e6675;
$grey: #828282;
$silver: #b8c1cb;
$pale-grey: #dde2e8;
$dead-grey: #f8f8f8;

