// brand colors
$rising-green: #00E676;
$rising-purple: #633afc;

// black & white
$white: #ffffff;
$black: #152935;

//states
$success: #0bd564;
$warning: #ffcc00;
$error: #f20168;

// shades of gray
$dark: #202021;
$dim-grey: #333333;
$dark-grey: #5e6675;
$grey: #828282;
$silver: #b8c1cb;
$pale-grey: #dde2e8;
$dead-grey: #f8f8f8;

