.ant-btn-primary {
	color: $white;
  background-color: $rising-green;
  border-color: $rising-green;
  padding: 8px 64px;
  height: auto;
  box-shadow: none;
  text-shadow: none;
  font-weight: 800;
}

// carousel 
.ant-carousel .slick-dots li.slick-active button {
	background: $black;
}

.ant-carousel .slick-dots li button {
	background: $silver;
}

.ant-layout {
  background: $white;
}
